{{model-errors model=model}}
<form>
  <div class="col-md-12">
    <div class="form-group form-group-lg">
      {{input value=model.name type="text" class="form-control" placeholder="Name"}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      {{input value=model.email class="form-control" type="email" placeholder="Email address"}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
      {{input value=confirmationEmail class="form-control" type="email" placeholder="Confirm email address"}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
      {{input value=model.phoneNumber class="form-control" type="text" placeholder="Phone number"}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
      {{#x-select value=model.school class="form-control" as |xs|}}
        <option value>Select college or university</option>
        {{#each schools as |school|}}
          {{#xs.option value=school}}{{school.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
      {{#x-select value=model.ministry class="form-control" as |xs|}}
        <option value>Select campus ministry or church</option>
        {{#each ministries as |ministry|}}
          {{#xs.option value=ministry}}{{ministry.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      {{textarea class="form-control" value=model.comments cols="80" rows="4" placeholder="Comments"}}
    </div>
  </div>
  <div class="col-md-12 text-info text-center">
    <p>I would like to know when a GE Event is happening in my area via
    {{input type="checkbox" name="isTextEnabled" checked=model.isTextEnabled }} <label for="isTextEnabled">Text</label>
    and/or via {{input type="checkbox" name="isEmailEnabled" checked=model.isEmailEnabled }} <label for="isEmailEnabled">E-mail</label></p>
  </div>
  <div class="form-actions col-md-12">
    <button type="submit" class="btn btn-primary btn-lg" {{action "save"}}>Submit</button>
    <button class="btn btn-default btn-lg" {{action "cancel"}}>Cancel</button>
  </div>
</form>
